<nav>
    <li>
        <a
            href="/"
            id="focim"
            >SportCars.</a
        >
    </li>
    <div id="linkek">
        <li><a href="/kocsik">Kocsik</a></li>
        <li><a href="/ujkocsi">Új kocsi</a></li>
        <li><a href="/emberek">Emberek</a></li>
        <li><a href="/vasarlasok">Vásárlások</a></li>
    </div>
</nav>
