.home-container {
    background-attachment: fixed;
    background-image: url('/images/lamborghini-04.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 400px;
    padding-bottom: 10px;
    width: 100vw;
}

.home-inner-container {
    display: flex;
    flex-direction: column;
    gap: 250px;
}

.home-content {
    color: var(--feher);
    font-size: xx-large;
    padding-left: 5em;
}

.home-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
}

.home-slider-kep-tarto {
    border: 2px solid var(--narancs);
    height: 140px;
    width: 250px;
}

.aktiv {
    border: 4px solid var(--piros);
}

@media screen and (max-width: 1200px) {
    .home-container {
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        padding-top: 100px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .home-container {
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        padding-top: 40px;
        flex-wrap: wrap;
    }

    .home-inner-container {
        display: flex;
        flex-direction: column;
        gap: 250px;
    }

    .home-content {
        padding-left: 10px;
    }
}

@media screen and (max-width: 550px) {
    .home-container {
        background-color: black;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        height: min(100%, 1200px);
        padding-top: 40px;
        padding-bottom: 10px;
        flex-wrap: wrap;
    }

    .home-inner-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home-content {
        padding-left: 5px;
        font-size: large;
    }
}
